spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://182.61.54.172:3306/project
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
  thymeleaf:
    mode: HTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false
mybatis:
  type-aliases-package: com.springboot.boot.pojo
  mapper-locations: classpath:com/springboot/boot/mapper/*.xml