<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.boot.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.springboot.boot.pojo.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="project_balance" jdbcType="DOUBLE" property="projectBalance" />
    <result column="project_pro" jdbcType="VARCHAR" property="projectPro" />
    <result column="material_manager" jdbcType="VARCHAR" property="materialManager" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_name, create_time, project_balance,project_pro,material_manager
  </sql>

  <select id="selectProject" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM project
    WHERE id IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>